* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-family: var(--roboto);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 360px;
}

h1,
h2,
h3 {
  font-family: var(--roboto-serif);
  font-weight: 700;
}

.spacing-size {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 62px;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Navbar */
.navigation {
  width: 10vw;
}

@media screen and (min-width: 1200px) {
  .navigation {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    width: 140px;
  }
  .nav-list {
    text-align: center;
    flex-direction: row-reverse;
  }
}

.list-item > a > img {
  width: 34px;
  transition: ease-in-out 0.2s;
}

.list-item > a > img:hover {
  transform: translateY(-15%);
}

/* Header */
.header {
  background-color: var(--black-t2);
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 62px;
  height: 10vh;
}

.header-presentation {
  width: 220px;
}

.header-logo {
  max-width: 60px;
}

.header-title {
  color: var(--white);
  font-size: 2.6rem;
}

@media screen and (max-height: 768px) {
  .header-container {
    padding: 24px 32px;
    height: auto;
  }
}

@media screen and (max-height: 480px) {
  .header-container {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 24px 32px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    padding: 24px 16px;
  }
}

/* Welcome */
.main-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/dogrosa.png");
  background-position: top 70% right 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.welcome-title {
  margin-top: 100px;
  color: var(--white);
  font-size: 5rem;
  max-width: 530px;
  text-align: center;
}

.welcome-logo {
  margin-top: 26px;
  width: 160px;
  height: 160px;
  background-image: url("../svg/fantastikalogo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-height: 480px) {
  .welcome-logo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-height: 360px) {
  .welcome-logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .welcome-logo {
    margin-top: 26px;
    width: 130px;
    height: 130px;
  }

  .main-welcome {
    background-attachment: local;
  }

  .welcome-title {
    margin-top: 60px;
    font-size: 4rem;
  }
}

/* About */

.about-container {
  background: url("../img/dogpreto.webp") center top / cover no-repeat;
}

.about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  color: var(--white);
}

.about-toRight {
  max-width: 600px;
}

.about-title {
  font-size: 4rem;
  max-width: 300px;
}

.about-desc {
  margin-top: 16px;
  font-size: 2.5rem;
  max-width: 450px;
}

.about-cta {
  background-color: var(--white);
  color: var(--black-t3);
}

@media screen and (max-width: 900px) {
  .about-container {
    background: url("../img/dogpretomobile.webp") center / cover no-repeat;
  }

  .about {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .about-desc {
    font-size: 2rem;
  }

  .about-title {
    padding-top: 60px;
    font-size: 3rem;
  }
}

/* Service */
.service-container {
  background: url("../img/pit.webp");
  background-position: top 0% right 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120vh;
  color: var(--black-t1);
}

.service-title {
  font-size: 4rem;
}

.service-desc {
  font-size: 2.5rem;
  margin-top: 16px;
  max-width: 400px;
}

.service-cta {
  background-color: var(--black-t1);
  color: var(--opaque);
}

@media screen and (max-width: 900px) {
  .service-container {
    background: var(--opaque) url("../img/pitmobile.webp") center bottom /
      contain no-repeat local;
  }

  .service-container {
    height: 110vh;
  }

  .service-title {
    font-size: 3rem;
  }

  .service-desc {
    font-size: 2rem;
    margin-top: 16px;
    max-width: 400px;
  }

  .service {
    justify-content: flex-start;
  }

  .service-title {
    margin-top: 80px;
  }
}

/* Sponsorship */
.sponsorship {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  color: var(--pink);
}

.sponsorship-title {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
}

.sponsorship-list {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.sponsorship-item {
  transition: all ease-in-out 0.2s;
}

.sponsorship-item > a > img {
  width: 172px;
}

.sponsorship-item:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1200px) {
  .sponsorship-list {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .sponsorship {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 740px) {
  .sponsorship-list {
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
  }
}

/* Button */

.button {
  margin-top: 45px;
  width: 248px;
  height: 81px;
  border-radius: 44px;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.button:hover {
  filter: brightness(1.3);
}

.button:active {
  transform: scale(0.9);
}

/* Footer */
.footer {
  background-color: var(--dark-pink);
  height: auto;
  padding: 84px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 70px;
  height: 100%;
}

.footer-logo {
  width: 260px;
  height: 70px;
  background-image: url("../img/fantastikalogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-infos {
  color: var(--white);
}

.footer-title {
  font-size: 3rem;
}

.footer-list {
  margin-top: 33px;
  line-height: 3.5rem;
}

.footer-item > a {
  font-size: 2rem;
  color: var(--white);
}

.footer-item > a:hover {
  color: var(--black-t1);
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 54px 0;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}

/* Generic Spacing */
@media screen and (max-width: 768px) {
  .spacing-size {
    padding: 0 32px;
  }
}

@media screen and (max-width: 480px) {
  .spacing-size {
    padding: 0 16px;
  }
}

/* Responsive Display (Mobile) */
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

/* Responsive Display (Desktop) */
@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}
